@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Tag

<h2>Tag Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.TagName): @Html.DisplayFor(model => model.TagName)</h3>

@if(@Model.Recipies.Count == 0)
{
  <p>This Tag does not contain any items</p>
}
else
{
  <h4>Items the Tag contains:</h4>
  <ul>
  @foreach(var join in Model.Recipies)
  {
    <li>@join.Recipe.RecipeName</li>
  }
  </ul>
}

<p>@Html.ActionLink("Back to categories", "Index")</p>
<p>@Html.ActionLink("Edit Tag", "Edit", new { id = Model.TagId })</p>
<p>@Html.ActionLink("Delete Tag", "Delete", new { id = Model.TagId })</p>
